<!DOCTYPE html>
<title>Operations</title>
<body style="background-color: black;">
<div>
<center><h1 style="color:red">Perform operations</h1></center>
<center><form method="POST" action="./customers" style="padding: 20px;">
    <h3 style="color: aqua;">Click here to Manupulate operations on Customers</h3>
    <button style="background-color: rgb(0, 110, 255); background-position: 200px;">Customers</button>
</form>
</center>
<center><form method="POST" action="./products" style="padding: 20px;">
    <h3 style="color: aqua;">Click here to Manupulate operations on Products</h3>
    <button style="background-color: rgb(0, 110, 255); background-position: 200px;">products</button>
</form>
</center>
<center><form method="POST" action="./orders" style="padding: 20px;">
    <h3 style="color: aqua;">Click here to Manupulate operations on Orders</h3>
    <button style="background-color: rgb(0, 110, 255); background-position: 200px;">orders</button>
</form>
</center>
<center><form method="POST" action="/view" style="padding: 20px;">
    <h3 style="color: aqua;">Click here to view history</h3>
    <button style="background-color: rgb(0, 110, 255); background-position: 200px;">view history</button>
</form>
</center>
</div>
</body>